.full-width
  width: 100%
  margin-left: auto
  margin-right: auto
  max-width: inherit

.row.display
  background: rgb(238, 238, 238)
  line-height: 2rem
  outline: rgb(198, 198, 198) solid 1px
  margin-left: 0 !important
  margin-right: 0 !important

.columns
  border-right: rgb(255, 255, 255) solid 1px
  border-top: rgb(255, 255, 255) solid 1px

header
  background: rgb(153, 0, 0)
  background: -moz-linear-gradient(top,  rgb(153, 0, 0) 0%, rgb(153, 52, 52) 100%)
  background: -webkit-linear-gradient(top,  rgb(153, 0, 0) 0%,rgb(153, 52, 52) 100%)
  background: linear-gradient(to bottom,  rgb(153, 0, 0) 0%,rgb(153, 52, 52) 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#990000', endColorstr='#993434',GradientType=0 )

  color: rgb(255, 255, 255)
