.full-width
  width: 100%
  margin-left: auto
  margin-right: auto
  max-width: inherit

.row.display
  background: rgb(238, 238, 238)
  line-height: 2rem
  outline: rgb(198, 198, 198) solid 1px
  margin-left: 0 !important
  margin-right: 0 !important

.columns
  border-right: rgb(255, 255, 255) solid 1px
  border-top: rgb(255, 255, 255) solid 1px

header
  background: rgb(0,71,153)
  background: -moz-linear-gradient(top,  rgb(0,71,153) 0%, rgb(52,99,153) 100%)
  background: -webkit-linear-gradient(top,  rgb(0,71,153) 0%,rgb(52,99,153) 100%)
  background: linear-gradient(to bottom,  rgb(0,71,153) 0%,rgb(52,99,153) 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004799', endColorstr='#346399',GradientType=0 )

  color: rgb(255, 255, 255)
