doctype
html(class="no-js" lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Foundation | Welcome
    link(rel="stylesheet" href="css/foundation.css")
    link(rel="stylesheet" href="css/app.css")
    
    body
      .row.display.expanded
        .large-4.columns
          p logo
        .large-4.columns
          p test
        .large-4.columns
          p right
          
      .row.display.expanded
        .large-12.columns
          h1 this is a test
        
    script(src="js/vendor/jquery.min.js")
    script(src="js/vendor/what-input.min.js")
    script(src="js/foundation.min.js")
    script(src="js/app.js")
