doctype
html(class="no-js" lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Foundation | Welcome
    link(rel="stylesheet" href="css/foundation.css")
    link(rel="stylesheet" href="css/app.css")
    
    body
        .row.header
          .small-12.columns
            h1 This is a header
      
      section
        .row
          .large-6.columns
            h1 Hello World!
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam accumsan ut justo in semper. Quisque finibus sagittis velit sit amet cursus. Nullam vitae nulla eget odio congue posuere quis eu metus. Proin id nulla dictum, sollicitudin tellus at, hendrerit diam. Pellentesque pulvinar turpis tortor, sit amet luctus sem convallis nec.
            
          .large-3.columns
            h1 Vivamus cursus
            p Curabitur ipsum mi, euismod eu placerat a, sollicitudin vitae dolor. Suspendisse potenti. Morbi tempus iaculis sem id mattis.
            
          .large-3.columns
            h1 Mauris ullamcorper
            p Nullam tempus urna et ultrices vestibulum. Mauris laoreet ex eu placerat volutpat. Fusce ut venenatis augue. Nullam pulvinar nibh in commodo efficitur.
        
    script(src="js/vendor/jquery.min.js")
    script(src="js/vendor/what-input.min.js")
    script(src="js/foundation.min.js")
    script(src="js/app.js")
